<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mafisz_cat_home</name>
	<displayName><![CDATA[Mafisz kategorie na stronie głównej]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Siatka kategorii na stronie głównej]]></description>
	<author><![CDATA[Mafisz]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
